html {
    overflow: hidden;
}

.bg {
    width: 100%;
    height: 100vh;
    background: url("../assets/image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.logo-thx {
    width: 20%;
    height: 20%;
    margin-left: 40%;
    margin-top: 10%;
}


/* .keyboardtop {
    position: absolute!important;
    display: block;
    margin-top: 10px!important;
    left: 31.5%;
    width: 37%;
    text-align: center;
    right: auto;
} */

.center-horizontal {
    text-align: center;
}

.btn-save {
    font-size: 1.5vw;
    width: 30%;
    padding: 1vw;
    line-height: 2vw;
    margin-top: 2vw;
    text-align: center;
    background-color: #4CAFB9;
    border-radius: 50px;
    border: black 3px;
    color: whitesmoke;
    border-style: solid;
    vertical-align: middle;
}

.tel-input {
    font-size: 1.5vw;
    width: 30%;
    margin-left: 35%;
}

a,
a:hover {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.hide {
    display: none;
}

@media (min-width: 1281px) {
    .keyboardtop {
        position: absolute!important;
        display: block;
        margin-top: 10px!important;
        right: 8%;
        top: 30%;
        width: 20%;
        text-align: center!;
    }
    .logo-size {
        margin-top: 20px;
        object-fit: cover;
        width: 13%;
        height: 10vw;
        margin-left: 43.5%;
        margin-bottom: 30px;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 5%;
        width: 20%;
        height: 11vw;
        margin-left: 40%;
    }
    .btn-save {
        margin-top: 0px;
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .keyboardtop {
        position: absolute!important;
        display: block;
        margin-top: 10px!important;
        right: 8%;
        top: 30%;
        width: 20%;
        text-align: center!;
    }
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 20vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 10%;
        width: 30%;
        height: 15%;
        margin-left: 35%;
    }
    .btn-save {
        margin-top: 70px;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .keyboardtop {
        display: none;
    }
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 20vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 10%;
        width: 30%;
        height: 15%;
        margin-left: 35%;
    }
    .btn-save {
        margin-top: 70px;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .keyboardtop {
        display: none;
    }
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 20vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 10%;
        width: 30%;
        height: 15%;
        margin-left: 35%;
    }
    .btn-save {
        margin-top: 70px;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .keyboardtop {
        display: none;
    }
    .logo-size {
        object-fit: cover;
        margin-top: 2vw;
        width: 30%;
        height: 30vw;
        margin-left: 35%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 15%;
        width: 40%;
        height: 20%;
        margin-left: 30%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .keyboardtop {
        display: none;
    }
    .logo-size {
        margin-top: 2vw;
        width: 40%;
        height: 40vw;
        margin-left: 30%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 2vw;
        width: 40%;
        height: 20%;
        margin-left: 30%;
        margin-top: 30%;
    }
    .btn-save {
        font-size: 3.5vw;
        line-height: 4vw;
        margin-top: 3vw;
        width: 50%;
        padding: 2vw;
        text-align: center;
        background-color: #4CAFB9;
        border-radius: 50px;
        border: black 3px;
        color: whitesmoke;
        border-style: solid;
        vertical-align: middle;
    }
    .tel-input {
        font-size: 3.5vw;
        width: 50%;
        margin-left: 25%;
    }
}