body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.bar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.no-space {
    margin: 0px!important;
    padding: 0px!important;
}

.bg {
    width: 100vw;
    height: 100vh;
    background: url("../assets/image/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.clock {
    position: absolute;
    bottom: 10px;
    right: 45px;
}

.videoIndex {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.logo-size {
    width: 50%;
    margin-left: 25%;
    height: 12vw;
    text-align: center;
}

.font {
    font-family: 'Balsamiq Sans', cursive;
}

.btn-get {
    position: absolute;
    bottom: 0px;
}