body,
html {
    height: 100%;
}

.bg {
    background: url("../assets/image/bg.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center-horizontal {
    text-align: center;
}

.btn-save {
    font-size: 1.5vw;
    width: 30%;
    padding: 1vw;
    line-height: 2vw;
    margin-top: 2vw;
    text-align: center;
    background-color: #4CAFB9;
    border-radius: 50px;
    border: black 3px;
    color: whitesmoke;
    border-style: solid;
    vertical-align: middle;
}

.tel-input {
    font-size: 1.5vw;
    width: 30%;
    margin-left: 35%;
}

.center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

a,
a:hover {
    text-decoration: none;
    font-weight: bold;
    color: whitesmoke;
}

.hide {
    display: none;
}

@media (min-width: 1281px) {
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 2vw;
        width: 20%;
        height: 10vw;
        margin-left: 40%;
    }
}


/* 
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */

@media (min-width: 1025px) and (max-width: 1280px) {
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 25vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 2vw;
        width: 20%;
        height: 10vw;
        margin-left: 40%;
    }
}


/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) {
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 25vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 2vw;
        width: 20%;
        height: 10vw;
        margin-left: 40%;
    }
}


/* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 20vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 2vw;
        width: 20%;
        height: 10vw;
        margin-left: 40%;
    }
}


/* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */

@media (min-width: 481px) and (max-width: 767px) {
    .logo-size {
        margin-top: 2vw;
        width: 20%;
        height: 30vw;
        margin-left: 40%;
    }
    .logo-melb {
        object-fit: cover;
        margin-top: 2vw;
        width: 20%;
        height: 10vw;
        margin-left: 40%;
    }
}


/* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */

@media (min-width: 320px) and (max-width: 480px) {
    .logo-size {
        margin-top: 2vw;
        width: 40%;
        height: 40vw;
        margin-left: 30%;
    }
    .logo-melb {
        margin-top: 20px;
        object-fit: cover;
        width: 40%;
        height: 20vw;
        margin-left: 30%;
    }
    .btn-save {
        font-size: 3.5vw;
        line-height: 4vw;
        margin-top: 3vw;
        width: 50%;
        padding: 2vw;
        text-align: center;
        background-color: #4CAFB9;
        border-radius: 50px;
        border: black 3px;
        color: whitesmoke;
        border-style: solid;
        vertical-align: middle;
    }
    .tel-input {
        font-size: 3.5vw;
        width: 50%;
        margin-left: 25%;
    }
}